<!doctype html>
<html>
<head>
  <title>Ratings</title>
</head>

<body>
  Ratings

    <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}
  <hr>
  {% block content %} put your content here {% endblock %}


<footer>
    <hr>
  {% if 'user_id' in session %}
  Logged in as {{ session['email'] }}
  {% endif %}<br>
<a href="/logout">Logout</a>
</footer>
</body>
</html>