{% extends 'base.html' %}
{% block content %}
<h1>{{ movie.title }}</h1>

<p> Release Date: {{released}}</p>

<p>IMDB: <a href="{{ movie.imdb_url }}"> LINK </a> </p>

<p>Average rating: {{ average }}</p>

    Rate this movie!
<form action="/rate/{{movie.movie_id}}" method="POST">
    {% for i in range(1,6) %}
        {% if score==i %}
            <input type="radio" name="score" value="{{i}}" checked="checked" required>{{i}}
        {% else %}
            <input type="radio" name="score" value="{{i}}" required>{{i}}
        {% endif %}
    {% endfor %}
    <input type="submit">
</form>

{% endblock %}